/* start box  */

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.align-c {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width:767px) {
    .d-block-phone {
        display: block;
    }

}

@media (max-width:767px) {
    .hide-phone {
        display: none;
    }

}

/* end box  */
/* start colors  */
.bg-white {
    background-color: white;

}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: #0075ff;
}

.bg-orange {
    background-color: #f59e0b;

}

.bg-green {
    background-color: #22c55e;

}

.bg-red {
    background-color: #f44336;

}

.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-gray {
    color: #888;
}

.c-blue {
    color: #0075ff;
}

.c-orange {
    color: #f59e0b;
}

.c-green {
    color: #22c55e;
}

.c-red {
    color: #f44336;
}

/* end colors  */

/* start padding + margin  */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}


.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

/* end padding + margin  */
/* start positions  */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* end positions  */
/* start font  */
.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-25 {
    font-size: 25px;
}

.fw-500 {
    font-weight: 500;
}

.fw-bold {
    font-weight: bold;
}

.txt-c {
    text-align: center;
}

@media (max-width:767px) {
    .txt-c-phone {
        text-align: center;
    }

}

/* end font  */
/* start border  */
.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

.rad-20 {
    border-radius: 20px;
}

.b-rad-50 {
    border-radius: 50%;
}

.b-none {
    border: none;
}

.b-ccc {
    border: 1px solid #ccc;
}

.b-eee {
    border: 1px solid #eee;
}

/* end border  */
/* start transition  */
.trans-3 {
    transition: 0.3s;

}

.trans-5 {
    transition: 0.5s;
}

/* end transition  */
/* :start width  */
.wi-100 {
    width: 100px;
}


.w-100 {
    width: 100%;
}


.w-fit {
    width: fit-content;
}

.he-100 {
    height: 100px;
}

/* end width  */
/* start height  */
.h-full {
    height: 100%;
}

/* end height  */

/* start component  */
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* end component  */